@inherits LayoutComponentBase

<PageTitle>Campos Clinicos</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://www.ucentral.cl/presentacion-campos-clinicos#:~:text=Para%20la%20Facultad%20de%20Ciencias%20de%20la%20Salud,Regi%C3%B3n%20de%20Coquimbo%20y%20otras%20localidades%20del%20pa%C3%ADs." target="_blank">¿Quiénes Somos?</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
